@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1743142608161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sync:before {
  content: "\e787";
}

.icon-transaction:before {
  content: "\e786";
}

.icon-close:before {
  content: "\e7fe";
}

.icon-jixiao:before {
  content: "\e684";
}

.icon-guzhihesuan:before {
  content: "\e688";
}

.icon-shuifeizhongxin:before {
  content: "\e68a";
}

.icon-xinxipilou:before {
  content: "\e68b";
}

.icon-xitongguanli:before {
  content: "\e68d";
}

.icon-zongheguanli:before {
  content: "\e68e";
}

.icon-huaxinlogo:before {
  content: "\e68f";
}

.icon-nsight-logo:before {
  content: "\e690";
}

.icon-chanpinzhouqi:before {
  content: "\e692";
}

.icon-tuoguanhutazhilinghuakuan:before {
  content: "\e6a5";
}

