@font-face {
	font-family: "iconfont";
	/* Project id 4471089 */
	src: url('https://at.alicdn.com/t/c/font_4471089_mpuibqin0of.woff2?t=1720082386788') format('woff2'),
		url('https://at.alicdn.com/t/c/font_4471089_mpuibqin0of.woff?t=1720082386788') format('woff'),
		url('https://at.alicdn.com/t/c/font_4471089_mpuibqin0of.ttf?t=1720082386788') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 32rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
	content: "\e78c";
}

.icon-fasong:before {
	content: "\e78b";
}

.icon-jianpan:before {
	content: "\e78a";
}

.icon-yixuyuan:before {
	content: "\e785";
}

.icon-jiesuo:before {
	content: "\e789";
}

.icon-jifen-shise:before {
	content: "\e788";
}

.icon-chenggong:before {
	content: "\e787";
}

.icon-woxiangkan:before {
	content: "\e786";
}

.icon-lock1:before {
	content: "\e784";
}

.icon-swap-right:before {
	content: "\e783";
}

.icon-question-circle:before {
	content: "\e781";
}

.icon-jiangxu:before {
	content: "\e77f";
}

.icon-shengxu:before {
	content: "\e780";
}

.icon-hangyeqiehuan:before {
	content: "\e77c";
}

.icon-lock:before {
	content: "\e77b";
}

.icon-quanjingtupu:before {
	content: "\e77a";
}

.icon-geguhuaxiang:before {
	content: "\e779";
}

.icon-zhinengxuangu:before {
	content: "\e778";
}

.icon-shichangzhuizong:before {
	content: "\e777";
}

.icon-bianjishoucang:before {
	content: "\e773";
}

.icon-xiangguanzixun:before {
	content: "\e772";
}

.icon-quxiaoshoucang:before {
	content: "\e771";
}

.icon-shoucang:before {
	content: "\e770";
}

.icon-bianjibiaotou:before {
	content: "\e76f";
}

.icon-close-circle-fill:before {
	content: "\e76e";
}

.icon-zhankai1:before {
	content: "\e76d";
}

.icon-angle-right:before {
	content: "\e769";
}

.icon-fangda:before {
	content: "\e768";
}

.icon-menu:before {
	content: "\e767";
}

.icon-zhutibg:before {
	content: "\e766";
}

.icon-shezhi:before {
	content: "\e765";
}

.icon-check:before {
	content: "\e764";
}

.icon-zhuti:before {
	content: "\e763";
}

.icon-jianjie:before {
	content: "\e762";
}

.icon-remenliyou:before {
	content: "\e761";
}

.icon-changqi:before {
	content: "\e75c";
}

.icon-duanqi:before {
	content: "\e75b";
}

.icon-fuzhuxinxi:before {
	content: "\e75a";
}

.icon-a-dierming3x:before {
	content: "\e758";
}

.icon-diyiming:before {
	content: "\e757";
}

.icon-disanming:before {
	content: "\e760";
}

.icon-xinwen:before {
	content: "\e75f";
}

.icon-yanbao:before {
	content: "\e75e";
}

.icon-zhankai:before {
	content: "\e75d";
}

.icon-zanwuzixuangupiao:before {
	content: "\e756";
}

.icon-tianjia:before {
	content: "\e755";
}

.icon-delete1:before {
	content: "\e74d";
}

.icon-a-fenzu1x:before {
	content: "\e750";
}

.icon-tuodong:before {
	content: "\e74f";
}

.icon-zhiding:before {
	content: "\e74e";
}

.icon-bianjifenzu:before {
	content: "\e753";
}

.icon-minus-circle-fill:before {
	content: "\e752";
}

.icon-guanbi:before {
	content: "\e751";
}

.icon-xiaomiicon:before {
	content: "\e74b";
}

.icon-touwosuohao:before {
	content: "\e74a";
}

.icon-megudidai:before {
	content: "\e749";
}

.icon-gujixunzong:before {
	content: "\e748";
}

.icon-search1:before {
	content: "\e746";
}

.icon-search:before {
	content: "\e747";
}

.icon-voice:before {
	content: "\e745";
}

.icon-luyinzhuangtai:before {
	content: "\e744";
}

.icon-a-angle-down3x:before {
	content: "\e73d";
}

.icon-remenbiao:before {
	content: "\e73b";
}

.icon-a-arrow-up-bold1x:before {
	content: "\e73e";
}

.icon-a-31shouye1x:before {
	content: "\e73a";
}

.icon-a-shichang3x:before {
	content: "\e739";
}

.icon-a-wode1x:before {
	content: "\e737";
}

.icon-a-zixuan1x:before {
	content: "\e735";
}

.icon-a-wechat-fill1x:before {
	content: "\e733";
}